{
  "presets": [
    [
      "@babel/preset-react",
    {
        "throwIfNamespace": false, 
        "runtime": "automatic"
      },
      "@parcel/babel-preset-env"
    ]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "production": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}